<!-- Add your site or application content here -->
<main class="ys-amp" id="ys-amp-create" role="main">
    <!-- 主面板 -->
    <div class="ys-main-panel">
        <div class="ys-content-header">
            <h1><em class="ys-icon ys-icon-amp"></em></h1>
        </div>
        <div class="ys-content-panel container clearfix">
            <form  name="projectForm" id="projectForm" novalidate>
            <div class="ys-block amp-create-project clearfix" ng-switch on="ctrl.index">
                    <h3 ng-switch-when="0">建立您的第一个项目</h3>
                    <h3 ng-switch-when="update">修改项目信息</h3>
                    <h3 ng-switch-default>建立新项目</h3>

                    <div class="col-xs-6">
                        <div class="input-wrapper pull-right">
                            <div class="input-group">
                                <label>项目</label>
                                <input ng-model="ctrl.project.name" type="text" placeholder="" value="" required>
                            </div>

                            <div class="input-group" id="open-date-wrapper">
                                <label>开业时间</label>
                                <input ng-model="ctrl.project.opendate" type="text" placeholder="" value="" class="datepicker" id="open-date" readonly>
                            </div>

                            <div class="input-group">
                                <label>团队人数</label>
                                <input ng-model="ctrl.project.pm.teamNum" type="number" placeholder="" value="">
                            </div>
                            <a class="btn amp-btn amp-btn-lg amp-btn-save amp-btn-reverse" style="width:50%;margin-top:30px;float:right;" ng-click="ctrl.cancel()">返回
                            </a>
                        </div>
                    </div><!--col-xs-6-->
                    <div class="col-xs-6">
                        <div class="input-wrapper pull-left ">
                            <div class="input-group input-select">
                                <label>面积</label>
                                <input ng-model="ctrl.project.proportionType" type="text" placeholder=" " value="" hidden>
                                <div class="dropdown">
                                    <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                                        <em>{{ctrl.project.proportionType| default:"请选择"}}</em><span class="ys-icon ys-icon-dropdown"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" >
                                       <!-- <li role="presentation"><a role="menuitem" tabindex="-1" href="#">套内面积</a></li>
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">建筑面积</a></li>-->
                                        <li ng-class="{'active':ctrl.isActive(menu,ctrl.project.proportionType)}" role="presentation" ng-repeat="menu in ctrl.form_menu.proportionType">
                                            <a role="menuitem" ng-click="ctrl.setModel('proportionType',menu)">{{menu}}</a></li>

                                    </ul>
                                </div>


                            </div>

                            <div class="input-group">
                                <label>负责人</label>
                                <input ng-model="ctrl.project.pm.name" type="text" placeholder="" value="">
                            </div>
                            <div class="input-group">
                                <label>位置</label>
                                <input ng-model="ctrl.project.position" type="text" placeholder="" value="">
                            </div>
                            <a class="btn amp-btn amp-btn-lg amp-btn-save" id="btn-amp-create" ng-click="ctrl.saveCheck()"  style="width:50%;margin-top:30px;float:left;">保存
                            </a>
                        </div>
                    </div><!--col-xs-6-->

            </div>
          <!--  <div class="amp-opt-block clearfix">
                <div class="amp-btn-group col-xs-6 col-xs-offset-6">
                    <button   ng-click="ctrl.cancel()"  type="submit" href="main.html" class="btn amp-btn amp-btn-lg amp-btn-save amp-btn-reverse"  id="btn-amp-cancel">取消
                    </button>
                    <button   ng-click="ctrl.saveCheck()"  type="submit" href="main.html" class="btn amp-btn amp-btn-lg amp-btn-save ys-tips"  id="btn-amp-create">保存
                    </button>
                </div>

               &lt;!&ndash; <em class="ys-amp-icon ys-icon-tips ys-tips" data-toggle="tooltip" data-placement="right" title="新建项目功能将于12月6日开通" style="margin-top: -11px;left: 50%;margin-left:145px;"></em>&ndash;&gt;
            </div>-->
            </form>
        </div><!--end content-panel-->

    </div><!--end main-panel-->

    <div class="ys-footer">
        <div class="container">
           <!-- <span>Copyright © 2016 <em class="c-light">YUESHANG</em> 上海悦商信息科技有限公司 <em>沪ICP备15034598号</em> 沪网文[2016]0005-005号</span>-->
            <span>AMP PAAS V1.0</span>
        </div>
    </div><!--ys-footer-->
</main><!--end main-->
<!--
<script src="../static/js/main/create_update.js"></script>
<script>
    $(document).ready(function(){
        project_create.init()
    });
</script>
-->
