<div class="amp-content-panel noi-view" id="noi">
    <div class="amp-block-pd">
        <div class="amp-block-title">
            <h3 class="col-xs-4">概要指标</h3>
        </div>
        <div class="amp-table-wrapper" id="noi-summary" style="padding-top:10px;">
             <table class="table table-right-bordered amp-table" >
                <thead>
                <tr>
                    <th>净营运收入NOI(万元)</th>
                    <th>总投资成本(万元)</th>
                    <th>估值(万元)</th>
                    <th>贷款(万元)</th>
                    <th>资产权益年预测(万元)</th>
                </tr>
                </thead>
                <tbody>
                <tr class="tr-info-main">
                    <td>
                        <span>当月实际</span>
                        <h3>{{noiCtrl.noiData[0].value |number:0}}</h3>
                        <span>全年预测</span>
                        <h5>{{noiCtrl.noiData[1].value | number:0}}</h5>
                    </td>
                    <td>
                        <span>总成本</span>
                        <h3>{{noiCtrl.noiData[2].value | number:0}}</h3>
                        <span>预测年回报率(按成本)</span>
                        <h5>{{noiCtrl.noiData[3].value | percentFormat}}</h5>
                    </td>
                    <td>
                        <span>估值</span>
                        <h3>{{noiCtrl.noiData[4].value | number:0}}</h3>
                        <span>估值日期</span>
                        <h5>{{noiCtrl.noiData[5].value}}</h5>
                        <span>预测年回报率(按估值)</span>
                        <h5>{{noiCtrl.noiData[6].value | percentFormat}}</h5>
                    </td>
                    <td>
                        <span>本金</span>
                        <h3>{{noiCtrl.noiData[7].value | number:0}}</h3>
                        <span>到期日</span>
                        <h5>{{noiCtrl.noiData[8].value}}</h5>
                        <span>年贷款利息</span>
                        <h5>{{noiCtrl.noiData[9].value | number:0}}</h5>
                    </td>
                    <td>
                        <span>当前权益</span>
                        <h3>{{noiCtrl.noiData[10].value | number:0}}</h3>
                        <span>预测税前现金流</span>
                        <h5>{{noiCtrl.noiData[11].value | number:0}}</h5>
                        <span>预测收益率(按ROE)</span>
                        <h5>{{noiCtrl.noiData[12].value | percentFormat}}</h5>
                    </td>
                </tr>
                </tbody>
            </table>
        </div><!--end ys-finacial-income-table-->
    </div>

    <div class="amp-block-pd" style="background-color:#eaf3fc;">
        <div class="amp-block-title">
            <h3 class="col-xs-4">关注说明</h3>
        </div>
        <div class="amp-block-content">
            <ul class="amp-report clearfix">
                <li ng-repeat="item in noiCtrl.reports" class="amp-report-item" ng-class="{'amp-report-warn':item.warn==true}">
                    <span>{{item.info}}</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="amp-block">
        <div class="amp-block-title" style="margin-left:25px;margin-right:25px;">
            <h3 class="col-xs-4">财务细节</h3>
        </div>
        <div class="amp-table-wrapper-swiper" id="noi-main-table-wrapper">
            <div class="ys-table-fixed-top" style="padding-left:160px;">
                <div class="ys-table-static ys-table-static-left" style="width:160px;">
                    <table class="table table-no-bordered amp-table table-hover table-header-fixed" style="width:100%;">
                        <thead>
                        <tr style="">
                            <th class="fake-th"></th>
                        </tr>
                        <tr class="thead-tr-sub">
                            <th class="fake-th"></th>
                        </tr>
                        </thead>
                    </table>
                </div>

                <div class="swiper-container" style="width:100%;" id="noi-main-table-head">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <table class="table table-no-bordered amp-table table-hover table-header-fixed" style="width:1200px;" >
                                <thead>
                                <tr style="">
                                    <th colspan="4" >2016-10(万元)</th>
                                    <th colspan="4" >全年累计(万元)</th>
                                    <th colspan="4" >全年(万元)</th>
                                    <th>达成率</th>
                                </tr>
                                <tr class="thead-tr-sub" >
                                    <th>实际</th>
                                    <th>预算</th>
                                    <th>差异额</th>
                                    <th class="t-split">差异率</th>

                                    <th>实际</th>
                                    <th>预算</th>
                                    <th>差异额</th>
                                    <th class="t-split">差异率</th>

                                    <th>预测</th>
                                    <th>预算</th>
                                    <th>差异额</th>
                                    <th class="t-split">差异率</th>


                                    <th></th>
                                </tr>
                                </thead>
                            </table>
                        </div><!--swiper-slide-->
                    </div><!--swiper-wrapper-->
                    <!-- Add Scroll Bar -->
                    <!-- <div class="swiper-scrollbar"></div>-->
                </div><!--swiper container-->
            </div>
            <div class="ys-table-main" style="padding-left:160px;">
                <div class="ys-table-static ys-table-static-left" style="width:160px;">
                    <table class="table table-no-bordered amp-table table-hover" style="width:100%;">
                        <tbody>
                        <tr class="tr-main">
                            <th>收入<em class="ys-icon icon-menu-down"></em></th>
                        </tr>
                        <tr class="tr-sub">
                            <th>租金</th>
                        </tr>
                        <tr class="tr-sub">
                            <th>物业管理费</th>
                        </tr>

                        <!-- start -->
                        <tr class="tr-sub">
                            <th>其他收入</th>
                        </tr>

                        <tr class="tr-main tr-init-collapse">
                            <th>费用<em class="ys-icon icon-menu-down"></em></th>
                        </tr>
                        <tr class="tr-sub">
                            <th>增值税</th>
                        </tr>

                        <tr class="tr-sub">
                            <th>房产税</th>
                        </tr>

                        <tr class="tr-sub">
                            <th>地租</th>
                        </tr>

                       <!-- <tr class="tr-sub tr-sub-main">-->
                        <tr class="tr-sub">
                            <th>能耗费用<!--<em class="ys-icon icon-menu-down"></em>--></th>
                        </tr>

                      <!--  <tr class="tr-tri" ng-hide="true">
                            <th>水费</th>
                        </tr>
                        <tr class="tr-tri" ng-hide="true">
                            <th>电费</th>
                        </tr>
                        <tr class="tr-tri" ng-hide="true">
                            <th>煤气费</th>
                        </tr>-->

                        <tr class="tr-sub">
                            <th>维护/维保</th>
                        </tr>

                        <tr class="tr-sub">
                            <th>总部管理费</th>
                        </tr>

                        <tr class="tr-sub">
                            <th>营销费用</th>
                        </tr>

                        <tr class="tr-sub">
                            <th>工资及相关费用</th>
                        </tr>

                        <tr class="tr-sub">
                            <th>行政管理费用</th>
                        </tr>

                        <tr class="tr-sub">
                            <th>计提/核销</th>
                        </tr>

                        <tr class="tr-sub">
                            <th>折旧</th>
                        </tr>

                        <tr class="tr-sub">
                            <th>其他</th>
                        </tr>
                        <!-- end -->
                        </tbody>
                        <tfoot>
                        <tr class="tr-main">
                            <th>NOI</th>
                        </tr>
                        <tr class="tr-sub">
                            <th>利润率</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>

                <div class="swiper-container" style="width:100%;" id="noi-main-table">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <table class="table table-no-bordered amp-table table-hover"  style="width:1200px;">
                                <tbody>
                                <tr class="tr-main">
                                    <td ng-repeat="tdData in noiCtrl.incomeData[3].values |skip:1"
                                        ng-class="{'t-split':noiCtrl.isSplit($index)}">{{tdData.value|default:"-"|numberFormat:$index:2}}</td>
                                    <td>{{74.76|number:2}}%</td>
                                </tr>
                                <tr class="tr-sub">
                                    <td ng-repeat="tdData in noiCtrl.incomeData[0].values|skip:1"
                                        ng-class="{'t-split':noiCtrl.isSplit($index)}">{{tdData.value|default:"-"|numberFormat:$index:2}}</td>
                                    <td></td>
                                </tr>
                                <tr class="tr-sub">
                                    <td ng-repeat="tdData in noiCtrl.incomeData[1].values|skip:1"
                                        ng-class="{'t-split':noiCtrl.isSplit($index)}">{{tdData.value|default:"-"|numberFormat:$index:2}}</td>
                                    <td></td>
                                </tr>

                                <!-- start -->
                                <tr class="tr-sub">
                                    <td ng-repeat="tdData in noiCtrl.incomeData[2].values|skip:1"
                                        ng-class="{'t-split':noiCtrl.isSplit($index)}">{{tdData.value|default:"-"|numberFormat:$index:2}}</td>
                                </tr>

                                <tr class="tr-main">
                                    <td ng-repeat="tdData in noiCtrl.feeData[12].values|skip:1"
                                        ng-class="{'t-split':noiCtrl.isSplit($index)}">{{tdData.value|default:"-"|numberFormat:$index:2}}</td>
                                    <td>{{69.35}}%</td>

                                </tr>
                                <tr class="tr-sub">
                                    <td ng-repeat="tdData in noiCtrl.feeData[0].values|skip:1"
                                        ng-class="{'t-split':noiCtrl.isSplit($index)}">{{tdData.value|default:"-"|numberFormat:$index:2}}</td>
                                    <td></td>

                                </tr>

                                <tr class="tr-sub">
                                    <td ng-repeat="tdData in noiCtrl.feeData[1].values|skip:1"
                                        ng-class="{'t-split':noiCtrl.isSplit($index)}">{{tdData.value|default:"-"|numberFormat:$index:2}}</td>
                                    <td></td>

                                </tr>

                                <tr class="tr-sub">
                                    <td ng-repeat="tdData in noiCtrl.feeData[2].values|skip:1"
                                        ng-class="{'t-split':noiCtrl.isSplit($index)}">{{tdData.value|default:"-"|numberFormat:$index:2}}</td>


                                </tr>

                                <!--<tr class="tr-sub tr-sub-main">-->
                                <tr class="tr-sub">
                                    <td ng-repeat="tdData in noiCtrl.feeData[3].values|skip:1"
                                        ng-class="{'t-split':noiCtrl.isSplit($index)}">{{tdData.value|default:"-"|numberFormat:$index:2}}</td>
                                    <td></td>

                                </tr>

                     <!--           <tr class="tr-tri" ng-hide="true">
                                    <td ng-repeat="tdData in noiCtrl.feeData[4].values|skip:1"
                                        ng-class="{'t-split':noiCtrl.isSplit($index)}">{{tdData.value|default:"-"|numberFormat:$index:2}}</td>

                                </tr>
                                <tr class="tr-tri" ng-hide="true">
                                    <td ng-repeat="tdData in noiCtrl.feeData[5].values|skip:1"
                                        ng-class="{'t-split':noiCtrl.isSplit($index)}">{{tdData.value|default:"-"|numberFormat:$index:2}}</td>

                                </tr>
                                <tr class="tr-tri" ng-hide="true">
                                    <td ng-repeat="tdData in noiCtrl.feeData[6].values|skip:1"
                                        ng-class="{'t-split':noiCtrl.isSplit($index)}">{{tdData.value|default:"-"|numberFormat:$index:2}}</td>
                                    <td></td>

                                </tr>
-->

                                <tr class="tr-sub">
                                    <td ng-repeat="tdData in noiCtrl.feeData[4].values|skip:1"
                                        ng-class="{'t-split':noiCtrl.isSplit($index)}">{{tdData.value|default:"-"|numberFormat:$index:2}}</td>

                                </tr>

                                <tr class="tr-sub">
                                    <td ng-repeat="tdData in noiCtrl.feeData[5].values|skip:1"
                                        ng-class="{'t-split':noiCtrl.isSplit($index)}">{{tdData.value|default:"-"|numberFormat:$index:2}}</td>
                                    <td></td>
                                </tr>

                                <tr class="tr-sub">
                                    <td ng-repeat="tdData in noiCtrl.feeData[6].values|skip:1"
                                        ng-class="{'t-split':noiCtrl.isSplit($index)}">{{tdData.value|default:"-"|numberFormat:$index:2}}</td>
                                    <td></td>

                                </tr>

                                <tr class="tr-sub">
                                    <td ng-repeat="tdData in noiCtrl.feeData[7].values|skip:1"
                                        ng-class="{'t-split':noiCtrl.isSplit($index)}">{{tdData.value|default:"-"|numberFormat:$index:2}}</td>
                                    <td></td>
                                </tr>

                                <tr class="tr-sub">
                                    <td ng-repeat="tdData in noiCtrl.feeData[8].values|skip:1"
                                        ng-class="{'t-split':noiCtrl.isSplit($index)}">{{tdData.value|default:"-"|numberFormat:$index:2}}</td>
                                    <td></td>
                                </tr>

                                <tr class="tr-sub">
                                    <td ng-repeat="tdData in noiCtrl.feeData[9].values|skip:1"
                                        ng-class="{'t-split':noiCtrl.isSplit($index)}">{{tdData.value|default:"-"|numberFormat:$index:2}}</td>
                                    <td></td>
                                </tr>

                                <tr class="tr-sub">
                                    <td ng-repeat="tdData in noiCtrl.feeData[10].values|skip:1"
                                        ng-class="{'t-split':noiCtrl.isSplit($index)}">{{tdData.value|default:"-"|numberFormat:$index:2}}</td>
                                    <td></td>
                                </tr>

                                <tr class="tr-sub">
                                    <td ng-repeat="tdData in noiCtrl.feeData[11].values|skip:1"
                                        ng-class="{'t-split':noiCtrl.isSplit($index)}">{{tdData.value|default:"-"|numberFormat:$index:2}}</td>
                                    <td></td>
                                </tr>
                                <!-- end -->
                                </tbody>
                                <tfoot>
                                <tr class="tr-main">
                                    <td ng-repeat="tdData in noiCtrl.feeData[13].values|skip:1"
                                        ng-class="{'t-split':noiCtrl.isSplit($index)}">{{tdData.value|default:"-"|numberFormat:$index:2}}</td>

                                </tr>
                                <tr class="tr-sub">
                                    <td ng-repeat="tdData in noiCtrl.feeData[14].values|skip:1"
                                        ng-class="{'t-split':noiCtrl.isSplit($index)}">{{tdData.value|default:"-"|percentFormat}}</td>

                                </tr>
                                </tfoot>

                            </table>
                        </div><!--swiper-slide-->
                    </div><!--swiper-wrapper-->
                    <!-- Add Scroll Bar -->
                    <div class="swiper-scrollbar"></div>
                </div><!--swiper container-->


            </div>
        </div>

        <div class="amp-table-wrapper" id="noi-arrearage">
            <table class="table table-no-bordered table-hover amp-table">
                <colgroup>
                    <col width="17%">
                    <col width="15%">
                    <col width="17%">
                    <col width="17%">
                    <col width="17%">
                    <col width="17%">
                </colgroup>
                <thead>
                <tr >
                    <th></th>
                    <th>总额</th>
                    <th>小于30天</th>
                    <th>31-60天</th>
                    <th>61-90天</th>
                    <th>大于90天</th>
                </tr>
                </thead>
                <tbody>
                <tr class="tr-main">
                    <th>欠费(万元)<em class="ys-icon icon-menu-down"></em></th>
                    <td ng-repeat="tdData in noiCtrl.arrearageData[3].values.slice(1)">{{tdData.value|number:2}}</td>
                </tr>
                <tr class="tr-sub">
                    <th>租金(万元)</th>
                    <td ng-repeat="tdData in noiCtrl.arrearageData[0].values.slice(1)">{{tdData.value|number:2}}</td>
                </tr>
                <tr class="tr-sub">
                    <th>物业管理费(万元)</th>
                    <td ng-repeat="tdData in noiCtrl.arrearageData[1].values.slice(1)">{{tdData.value|number:2}}</td>
                </tr>
                <tr class="tr-sub">
                    <th>其他收入(万元)</th>
                    <td ng-repeat="tdData in noiCtrl.arrearageData[2].values.slice(1)">{{tdData.value|number:2}}</td>
                </tr>
                </tbody>


            </table>
        </div>
    </div><!--ys-block-->
    <div class="amp-block-pd clearfix" style="">
        <div class="amp-block-title">
            <h3 class="col-xs-4">执行状况</h3>
        </div>
        <div class="amp-section amp-chart-section clearfix">
            <div class="amp-section-title clearfix">
                <h3 class="col-xs-4">NOI实际与方案（一、二、三）对比</h3>
                <div class="chart-legend pull-right">
                    <span><em class="color-label" style="background-color:#60cd7a;"></em><i class="name">NOI实际</i></span>
                    <span><em class="color-label" style="background-color:#5dbaf7;"></em><i class="name">方案1</i></span>
                    <span><em class="color-label" style="background-color:#fd7170;"></em><i class="name">方案2</i></span>
                    <span><em class="color-label" style="background-color:#feb739;"></em><i class="name">方案3</i></span>
                </div>
            </div>
            <div class="col-xs-12 chart-wrapper" id="noi-chart-wrapper" >

                <em class="chart-axis-info chart-axis-y-info">万元</em>
                <div id="noi-chart" style="height:310px;" noi-line-chart
                     chart-data="noiCtrl.chartData.noi" chart-name="NOI实际与方案（一、二、三）对比"></div>
            </div><!--noi-chart-wrapper-->
        </div><!--amp-section-->

        <div class="amp-section amp-chart-section clearfix">
            <div class="amp-section-title clearfix">
                <h3 class="col-xs-4">收入/费用</h3>
                <div class="chart-legend pull-right">

                    <span><em class="color-label" style="background-color:#58d3f4;"></em><i class="name">收入</i></span>
                    <span><em class="color-label" style="background-color:#59719d;"></em><i class="name">收入预算</i></span>
                    <span><em class="color-label" style="background-color:#68cd7f;"></em><i class="name">费用</i></span>
                    <span><em class="color-label" style="background-color:#bcc5aa;"></em><i class="name">费用预算</i></span>
                </div>
            </div>
            <div class="col-xs-12 chart-wrapper" id="noi-chart-wrapper-fee" >

                <em class="chart-axis-info chart-axis-y-info">万元</em>
                <div id="noi-chart-fee" style="height:310px;" income-line-chart
                     chart-data="noiCtrl.chartData.incomeFee"  ></div>

            </div><!--noi-chart-wrapper-->
        </div><!--amp-section-->

        <div class="amp-section amp-chart-section clearfix">
            <div class="amp-section-title clearfix">
                <h3 class="col-xs-4">销售概况</h3>
                <div class="chart-legend pull-right">

                    <span><em class="color-label" style="background-color:#00b1ef;"></em><i class="name">销售</i></span>
                    <span><em class="color-label" style="background-color:#69ce80;"></em><i class="name">客流</i></span>
                    <span><em class="color-label" style="background-color:#feb739;"></em><i class="name">会员</i></span>
                </div>
            </div>
            <div class="col-xs-12 chart-wrapper" id="noi-chart-wrapper-sales" >

                <em class="chart-axis-info chart-axis-y-info">销售(万元)</em>
                <em class="chart-axis-info chart-axis-y-info-2" style="right:35px;left:inherit;">客流/会员</em>
                <div id="noi-chart-sales" style="height:310px;" sales-flow-chart
                     chart-data="noiCtrl.chartData.sales"  chart-name="销售概况"></div>

            </div><!--noi-chart-wrapper-->
        </div><!--amp-section-->

        <div class="amp-section amp-chart-section clearfix">
            <div class="amp-section-title clearfix">
                <h3 class="col-xs-4">平均租金对比</h3>
                <div class="chart-legend pull-right">

                    <span><em class="color-label" style="background-color:#5cb571;"></em><i class="name">实际租金</i></span>
                    <span><em class="color-label" style="background-color:#bcc5aa;"></em><i class="name">预算租金</i></span>

                </div>
            </div>
            <div class="col-xs-12 chart-wrapper" id="noi-chart-wrapper-rent" >

                <em class="chart-axis-info chart-axis-y-info">万元</em>
                <div id="noi-chart-rent" style="height:310px;" rent-line-chart
                     chart-data="noiCtrl.chartData.rent" ></div>

            </div><!--noi-chart-wrapper-->
        </div><!--amp-section-->
    </div><!--amp-block-pd-->

    <div class="amp-block-pd">
        <div class="amp-block-title clearfix">
            <h3 class="col-xs-4">指数图示</h3>
        </div>
        <div class="amp-section">
            <div class="amp-section-title">
                <h3 class="col-xs-4">租赁面积情况</h3>

            </div>
            <div class="amp-section-content clearfix">
                <div class="col-xs-6 chart-wrapper" id="noi-chart-wrapper-rate" >
                    <div id="noi-chart-rate" style="height:310px;" pie-chart
                         chart-data="noiCtrl.chartData.area" ></div>
                    <em class="em-pie-title">面积占比</em>
                </div><!--noi-chart-wrapper-->
                <ul class="chart-legend chart-legend-vertical">
                    <li>
                        <span><em class="color-label" style="background-color:#02aff1;"></em><i class="name">{{noiCtrl.chartData.area[0].name}}</i></span>
                        <i class="legend-percent">{{noiCtrl.chartData.area[0].value}}%</i>
                    </li>
                    <li>
                        <span><em class="color-label" style="background-color:#2cd9df;"></em><i class="name">{{noiCtrl.chartData.area[1].name}}</i></span>
                        <i class="legend-percent">{{noiCtrl.chartData.area[1].value}}%</i>
                    </li>
                    <li>
                        <span><em class="color-label" style="background-color:#a6ec65;"></em><i class="name">{{noiCtrl.chartData.area[2].name}}</i></span>
                        <i class="legend-percent">{{noiCtrl.chartData.area[2].value}}%</i>
                    </li>
                    <li>
                        <span><em class="color-label" style="background-color:#455469;"></em><i class="name">{{noiCtrl.chartData.area[3].name}}</i></span>
                        <i class="legend-percent">{{noiCtrl.chartData.area[3].value}}%</i>
                    </li>
                </ul>
            </div><!--section content-->
        </div><!--amp-section-->
    </div><!--amp block-pd-->

</div><!-- amp-content-panel -->
