
	<div id="riskctrl-detail" class="amp-main-panel">
		<div class="amp-content-header clearfix">  
			<ul class="amp-tab-menu-list pull-left">
	            <li class="amp-tab-menu-item"><a href="#/risctrl_page">投资</a></li>
	            <li class="amp-tab-menu-item"><a class="active" href="javascript:void(0)"  >管理</a></li>
	        </ul>
	        <ul class="amp-status-item-list pull-right">
	            <li class="amp-status-item"><span>开业日期</span><em>111</em></li>	            
	        </ul>
   	 	</div>
   	 	<div class="risk-detail-content-panel">
   	 		<div class="return-rate-detail" >  	 		
	   			<div class="return-rate-detail-data clearfix">
	   				<ul class="clearfix">
						<li  ng-repeat="item in records" class="label-group">
							<em>{{item.title}}</em>
							<div><!--{{item.data|number}}-->
							<span  ng-if="$index==0||$index==2||$index==7">{{item.data|number:2}}</span>
							<span ng-if="$index==1">{{item.data}}</span>
							<span ng-if="$index==3||$index==4||$index==5||$index==6||$index==8">{{item.data|number:0}}</span>
						</div>
						</li>
                  </ul>
	   			</div>
   	 		</div>
   	 		<div class="return-rate-table">
   	 			<div id="cost">
		   	 		<div class="rate-detail-title">
		   	 			<div class="amp-section-title"><span>收入&经营费用</span>   	 				
		   	 				<div class="riskctrl-btn label-group">
			   	 				<em class="pull-left" ng-class="{'btn-active':costType=='onYearBasis'}">同比</em> <!--ng-click="setType('onYearBasis','cost')"-->
			   	 				<em class="pull-left" ng-class="{'btn-active':costType=='LinkRelativeRatio'}"><!-- ng-click="setType('LinkRelativeRatio','cost')"--> 环比</em>
			   	 				<em class="pull-left btn-active"ng-class="{'btn-active':costType=='Budget'}"> <!--ng-click="setType('Budget','cost')"--> 预算</em>
			   	 				<!--<em class="btn-right">显示所有月份</em>-->
		   	 				</div>
		   	 			</div>
		   	 		</div>   	 		
		   	 		<div class="risk-cost">
					<table class="risk-detail-table-1">
							<colgroup>
		                        <col width="20%"/>
		                        <col width="14%"/>
		                        <col width="11%"/>
		                        <col width="15%"/>
		                        <col width="14%"/>
		                        <col width="11%"/>
		                        <col width="15%"/>
				        	</colgroup>
				        	<thead>
				        		<tr>
									<td class="border-right"></td>
		                            <td  colspan="3"  class=" border-right">2016-10（万元）</td>
		                            <td  colspan="3" >全年累计（万元）</td> 
								</tr>
				        	</thead>
							<tbody>
								<tr>
									<td class="border-right"></td>
									<td class="text-grey">实际</td>
									<td class="text-grey ">参考</td>
									<td class="text-grey border-right padright">差异</td>
									<td class="text-grey">实际</td>
									<td class="text-grey">参考</td>
									<td class="text-grey padright">差异</td>
								</tr>
			                   <tr ng-click="collapseTable(item) " ng-class="{ 'record-group':item.hasCollapseBtn, 'amp-display-none':item.hide, 'collapsed':item.collapsed} " data-group="{{item.dataGroup}} " ng-repeat="item in cost[costType]">
									<td ng-class='setFont(item.textbold)'  class="border-right text-left">{{item.name}}<em>&#40;平方/元&#41;</em></td>
	  								<td  ng-class='setStyleIcon(item.ActualMonth,item.ReferMonth)'>{{item.ActualMonth|number:2}} <i></i></td> 
	  								<td class="">{{item.ReferMonth|number:2}}</td> 
	  								<td class="border-right padright"  ng-class='setStyleText(item.ActualMonth-item.ReferMonth)'>{{(item.ActualMonth-item.ReferMonth)|number:2}}</td>
	  								<td  ng-class='setStyleIcon(item.ActualYear,item.ReferYear)'>{{item.ActualYear|number:2}} <i></i></td> 
	  								<td class="">{{item.ReferYear|number:2}}</td> 
	  								<td  ng-class='setStyleText(item.ActualYear-item.ReferYear)' class="padright">{{(item.ActualYear-item.ReferYear)|number:2}}</td> 
								</tr>
			                </tbody>
						</table>
	   	 		</div>
				</div>
				<div id="collectionrate">
		   	 		<div class="rate-detail-title">
		   	 			<div class="amp-section-title"><span>收缴率</span>   	 				
		   	 				<div class="riskctrl-btn label-group">
			   	 				<em class="pull-left"   ng-class="{'btn-active':collectType=='onYearBasis'}">同比</em><!--ng-click="setType('onYearBasis','collectionrate')"-->
			   	 				<em class="pull-left" ng-class="{'btn-active':collectType=='LinkRelativeRatio'}">环比</em> <!-- ng-click="setType('LinkRelativeRatio','collectionrate')" -->
			   	 				<em class="pull-left btn-active"  ng-class="{'btn-active':collectType=='Budget'}">预算</em><!--ng-click="setType('Budget','collectionrate')"-->  
		   	 				</div>
		   	 			</div>
		   	 		</div>   	 		
		   	 		<div class="risk-cost">
					<table class="risk-detail-table-2">
							<colgroup>
		                        <col width="20%"/>
		                        <col width="20%"/>
		                        <col width="20%"/>
		                        <col width="20%"/>
		                        <col width="20%"/>
				        	</colgroup>
				        	<thead>
				        		<tr>
									<td class="border-right"></td>
		                            <td  colspan="2"  class="border-right">2016-10</td>
		                            <td  colspan="2" >全年累计</td> 
								</tr>
				        	</thead>
							<tbody>
								<tr>
									<td class="border-right"></td>
									<td class="text-grey"><span>实际</span></td>
									<td class="text-grey border-right"><span>参考</span></td>
									<td class="text-grey"><span>实际</span></td>
									<td class="text-grey "><span>参考</span></td>
								</tr>
								<tr ng-repeat="item in collectionrate[collectType]">
									<td  ng-class='setFont(item.textbold)'  class="border-right text-left">{{item.name}}</td>
	  								<td  ng-class='setStyleIcon(item.ActualMonth,item.ReferMonth)' class="percentage"><span><span>{{item.ActualMonth|number:2}} </span><i></i></span></td> 
	  								<td  class="border-right percentage"><span> <span>{{item.ReferMonth|number:2}}</span></span></td> 
	  								<td  ng-class='setStyleIcon(item.ActualYear,item.ReferYear)' class="percentage"><span> <span>{{item.ActualYear|number:2}}</span> <i></i></span></td> 
	  								<td class="percentage"><span><span>{{item.ReferYear|number:2}}</span></span></td> 
								</tr>								
			                </tbody>
						</table>
	   	 		</div>
				</div>
				<div id="salesvolume">
		   	 		<div class="rate-detail-title">
		   	 			<div class="amp-section-title"><span>销售额</span>   	 				
		   	 				<div class="riskctrl-btn label-group">
								<em class="pull-left"  ng-class="{'btn-active':saleType=='onYearBasis'}">同比</em><!--ng-click="setType('onYearBasis','salesvolume')" -->
			   	 				<em class="pull-left" ng-class="{'btn-active':saleType=='LinkRelativeRatio'}">环比</em> <!--ng-click="setType('LinkRelativeRatio','salesvolume')"--> 
			   	 				<em class="pull-left btn-active" ng-class="{'btn-active':saleType=='Budget'}">预算</em><!--ng-click="setType('Budget','salesvolume')"--> 
		   	 				</div>
		   	 			</div>
		   	 		</div>   	 		
		   	 		<div class="risk-cost">
					<table class="risk-detail-table-2">
							<colgroup>
		                        <col width="20%"/>
		                        <col width="20%"/>
		                        <col width="20%"/>
		                        <col width="20%"/>
		                        <col width="20%"/>
				        	</colgroup>
				        	<thead>
				        		<tr>
									<td class="border-right"></td>
		                            <td  colspan="2"  class="border-right">2016-10</td>
		                            <td  colspan="2" >全年累计</td> 
								</tr>
				        	</thead>
							<tbody>
								<tr>
										<td class="border-right"></td>
									<td class="text-grey"><span>实际</span></td>
									<td class="text-grey border-right"><span>参考</span></td>
									<td class="text-grey"><span>实际</span></td>
									<td class="text-grey "><span>参考</span></td>
								</tr>
			                   	<tr  ng-click="collapseTable(item) " ng-class="{ 'record-group':item.hasCollapseBtn, 'amp-display-none':item.hide, 'collapsed':item.collapsed} " data-group="{{item.dataGroup}} "  ng-repeat="item in salesvolume[saleType]">
									<td ng-class='setFont(item.textbold)'  ng-class='setFont(item.textbold)' class="border-right text-left">{{item.name}}</td>
	  								<td  ng-class='setStyleIcon(item.ActualMonth,item.ReferMonth)'><span>{{item.ActualMonth|number:2}} <i></i></span></td> 
	  								<td  class="border-right"><span>{{item.ReferMonth|number:2}}</span></td> 
	  								<td  ng-class='setStyleIcon(item.ActualYear,item.ReferYear)'><span>{{item.ActualYear|number:2}}<i></i></span> </td> 
	  								<td class=""><span>{{item.ReferYear|number:2}}</span></td> 
								</tr>
			                </tbody>
						</table>
	   	 		</div>
				</div>
				<div id="efficient">
		   	 		<div class="rate-detail-title">
		   	 			<div class="amp-section-title"><span>坪效&租售比</span>   	 				
		   	 				<div class="riskctrl-btn label-group">
			   	 				<em class="pull-left" ng-class="{'btn-active':efficientType=='onYearBasis'}">同比</em> <!--ng-click="setType('onYearBasis','efficient')"--> 
			   	 				<em class="pull-left"  ng-class="{'btn-active':efficientType=='LinkRelativeRatio'}">环比</em><!-- ng-click="setType('LinkRelativeRatio','efficient')"--> 
			   	 				<em class="pull-left btn-active"   ng-class="{'btn-active':efficientType=='Budget'}">预算</em><!--ng-click="setType('Budget','efficient')"-->
		   	 				</div>
		   	 			</div>
		   	 		</div>   	 		
		   	 		<div class="risk-cost">
					<table class="risk-detail-table-2">
							<colgroup>
		                        <col width="20%"/>
		                        <col width="20%"/>
		                        <col width="20%"/>
		                        <col width="20%"/>
		                        <col width="20%"/>
				        	</colgroup>
				        	<thead>
				        		<tr>
									<td class="border-right"></td>
		                            <td  colspan="2"  class="border-right">2016-10</td>
		                            <td  colspan="2" >全年累计</td> 
								</tr>
				        	</thead>
							<tbody>
								<tr>
									<td class="border-right"></td>
									<td class="text-grey"><span>实际</span></td>
									<td class="text-grey border-right"><span>参考</span></td>
									<td class="text-grey"><span>实际</span></td>
									<td class="text-grey "><span>参考</span></td>
								</tr>
			                   	<tr ng-click="collapseTable(item) " ng-class="{ 'record-group':item.hasCollapseBtn, 'amp-display-none':item.hide, 'collapsed':item.collapsed} " data-group="{{item.dataGroup}} "  ng-repeat="item in efficient[efficientType]">
									<td ng-class='setFont(item.textbold)'   ng-class='setFont(item.textbold)'  class="border-right text-left">{{item.name}}<em>&#40;万元&#41;</em></td>
	  								<td ng-class='setStyleIcon(item.ActualMonth,item.ReferMonth)'><span><b>{{item.ActualMonth|number:2}} </b><i></i></span></td> 
	  								<td class="border-right"><span><b>{{item.ReferMonth|number:2}}</b></span></td> 
	  								<td ng-class='setStyleIcon(item.ActualYear,item.ReferYear)'><span><b>{{item.ActualYear|number:2}}</b> <i></i></span></td> 
	  								<td class=""><span><b>{{item.ReferYear|number:2}}</b></span></td> 
								</tr>
			                </tbody>
						</table>
	   	 		</div>
				</div>
   	 			<div id="investment">
		   	 		<div class="rate-detail-title">
		   	 			<div class="amp-section-title"><span>招商</span>   	 				
		   	 				<div class="riskctrl-btn label-group">
			   	 				<em class="pull-left"ng-class="{'btn-active':investmentType=='onYearBasis'}">同比</em> <!--ng-click="setType('onYearBasis','investment')" --> 
			   	 				<em class="pull-left"  ng-class="{'btn-active':investmentType=='LinkRelativeRatio'}">环比</em> <!--ng-click="setType('LinkRelativeRatio','investment')"--> 
			   	 				<em class="pull-left btn-active" ng-class="{'btn-active':investmentType=='Budget'}">预算</em><!--ng-click="setType('Budget','investment')"--> 
		   	 				</div>
		   	 			</div>
		   	 		</div>   	 		
		   	 		<div class="risk-cost">
					<table class="risk-detail-table-2">
							<colgroup>
		                        <col width="20%"/>
		                        <col width="20%"/>
		                        <col width="20%"/>
		                        <col width="20%"/>
		                        <col width="20%"/>
				        	</colgroup>
				        	<thead>
				        		<tr>
									<td class="border-right"></td>
		                            <td  colspan="2"  class="border-right">2016-10</td>
		                            <td  colspan="2" >全年累计</td> 
								</tr>
				        	</thead>
							<tbody>
								<tr>
									<td class="border-right"></td>
									<td class="text-grey"><span>实际</span></td>
									<td class="text-grey border-right"><span>参考</span></td>
									<td class="text-grey"><span>实际</span></td>
									<td class="text-grey "><span>参考</span></td>
								</tr>
			                   <tr ng-repeat="item in investment[investmentType]">
									<td class="border-right text-left">{{item.name}} <em>&#40;m&sup2;&#41;</em></td>
	  								<td  ng-class='setStyleIcon(item.ActualMonth,item.ReferMonth)'><span>{{item.ActualMonth|number:2}} <i></i></span></td> 
	  								<td  class="border-right"><span>{{item.ReferMonth|number:2}}</span></td> 
	  								<td  ng-class='setStyleIcon(item.ActualYear,item.ReferYear)'><span>{{item.ActualYear|number:2}} <i></i></span></td> 
	  								<td class=""><span>{{item.ReferYear|number:2}}</span></td> 
								</tr>
								
			                </tbody>
						</table>
	   	 		</div>
				</div>
				<div id="passenger">
		   	 		<div class="rate-detail-title">
		   	 			<div class="amp-section-title"><span>客流</span>   	 				
		   	 				<div class="riskctrl-btn label-group">
			   	 				<em class="pull-left" ng-class="{'btn-active':passengerType=='onYearBasis'}">同比</em> <!--ng-click="setType('onYearBasis','passenger')"-->
			   	 				<em class="pull-left"  ng-class="{'btn-active':passengerType=='LinkRelativeRatio'}">环比</em> <!--ng-click="setType('LinkRelativeRatio','passenger')"--> 
			   	 				<em class="pull-left btn-active" ng-class="{'btn-active':passengerType=='Budget'}">预算</em><!--ng-click="setType('Budget','passenger')" --> 
		   	 				</div>
		   	 			</div>
		   	 		</div>   	 		
		   	 		<div class="risk-cost">
					<table class="risk-detail-table-2">
							<colgroup>
		                        <col width="20%"/>
		                        <col width="20%"/>
		                        <col width="20%"/>
		                        <col width="20%"/>
		                        <col width="20%"/>
				        	</colgroup>
				        	<thead>
				        		<tr>
									<td class="border-right"></td>
		                            <td  colspan="2"  class="border-right">2016-10</td>
		                            <td  colspan="2" >全年累计</td> 
								</tr>
				        	</thead>
							<tbody>
								<tr>
									<td class="border-right"></td>
									<td class="text-grey"><span>实际</span></td>
									<td class="text-grey border-right"><span>参考</span></td>
									<td class="text-grey"><span>实际</span></td>
									<td class="text-grey "><span>参考</span></td>
								</tr>
			                   <tr ng-repeat="item in passenger[passengerType]">
									<td  class="border-right text-left">{{item.name}}</td>
	  								<td  ng-class='setStyleIcon(item.ActualMonth,item.ReferMonth)' ><span>{{item.ActualMonth|number:2}} <i></i></span></td> 
	  								<td  class="border-right"><span>{{item.ReferMonth|number:2}}</span></td> 
	  								<td  ng-class='setStyleIcon(item.ActualYear,item.ReferYear)'><span>{{item.ActualYear|number:2}} <i></i></span></td> 
	  								<td class=""><span>{{item.ReferYear|number:2}}</span></td> 
								</tr>
			                </tbody>
						</table>
	   	 		</div>
				</div>
   	 			<div id="lease">
		   	 		<div class="rate-detail-title">
		   	 			<div class="amp-section-title"><span>租约到期</span>   	 				
		   	 				
		   	 			</div>
		   	 		</div>   
		   	 		
					<div id="leasechart" style="width: 100%;height:300px;"></div>
		   	 		
		   	 		<div class="risk-cost">
					<table class="">
							<colgroup>
		                        <col width="12.5%"/>
		                        <col width="12%"/>
		                        <col width="12.5%"/>
		                        <col width="13%"/>
		                        <col width="12.5%"/>
		                        <col width="12.5%"/>
		                        <col width="12.5%"/>
		                        <col width="12.5%"/>
				        	</colgroup>
				        	<thead>
				        		<tr>
									<td><span>时间</span></td>
									<td><span>租金（万元）</span></td>
									<td><span>租金占比（%）</span></td>
									<td><span>平均租金（元/㎡/月）</span></td>
									<td><span>面积（㎡）</span></td>
									<td><span>面积占比（%）</span></td>
									<td><span>租约数</span></td>
									<td><span>租约数占比</span></td>
								</tr>
				        	</thead>
							<tbody>
								
			                   <tr ng-repeat="item in lease">
	  								<td><span>{{item.time}} </span></td> 
	  								<td><span>{{item.rent|number}}</span></td> 
	  								<td><span>{{item.rentaccount}}</span></td> 
	  								<td><span>{{item.averagerent|number}}</span></td> 
	  								<td><span>{{item.acreage|number}}</span></td> 
	  								<td><span>{{item.acreageaccount}}</span></td> 
	  								<td><span>{{item.leases}}</span></td> 
	  								<td><span>{{item.leasesaccount}}</span></td> 
	  								
								</tr>
			                </tbody>
						</table>
	   	 		</div>
				</div>
   	 		
   	 		</div>
   	 	</div>
	    
	</div>
