<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="" lang="zh-cn"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>悦商AMP</title>
    <meta name="description" content="">

    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/dist/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="../static/css/common/common.css">
    <!--扩展 css-->
    <link rel="stylesheet" href="../static/css/main/ys_amp_create_financial_analysis.css">
    <style type="text/css">
        /* Good CSS */

    </style>
    <!-- JavaScript -->
    <!-- 第三方js -->
</head>
<body>
<!--[if lt IE 9]>
<p class="updateBrowser">您的浏览器太旧了，请更新最新浏览器，以获得最佳效果.</p>
<![endif]-->

<!-- Preloader -->
<div id="preloader">
    <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
</div>

<!-- Add your site or application content here -->
<main class="ys-amp" id="ys_amp_create_financial_analysis" role="main">
    <!-- 主面板 -->
    <div class="clearfix ys_amp_fin_title">
	   	<div class="ys_amp_title pull-left">
	   		<span class="amp_title">合同</span>
	   		<span style="color: #8592a3;">营收</span>
	   	</div>
	   	<div class=" pull-right ">
	   		<div class="pull-left">
	   			<div class="small">净资产</div>
	   			<div>2,656W</div>
	   		</div>
	   		<div class="pull-left" style="border-left: 1px solid #ddd;border-right: 1px solid #ddd; padding:0 30px ;">
	   			<div class="small">估值</div>
	   			<div>45,569W</div>
	   		</div>
	   		<div class="pull-left">
	   			<div class="small">贷款</div>
	   			<div>24,079W</div>
	   		</div>
	   	</div>
	</div>
   	<div class="clearfix ys_amp_create_head">
   		<div class="pull-left" style="padding-right: 40px;border-right:1px solid #ddd;">
   			<div class="small">合同总数</div>
   			<div>5,774</div>
   		</div>
   		<div class="pull-left" style="padding-left: 40px;">
   			<div class="small">合同总金额</div>
   			<div>3,282,344</div>
   		</div>
   	</div>
   	<div class="ys_amp_create_body">
   		<div class="ys_amp_collapse_head">
   			<ul class="list-unstyled list-inline" style="padding: 0 15px;">
				<li>品牌</li>
				<li>合同编号</li>
				<li>合同起始</li>
				<li>合同结束</li>
				<li>期限</li>
				<li>免租期</li>
				<li>面积（㎡）</li>
				<li>租金方式</li>
   			</ul>
   		</div>
   		<div class="panel-group ys_amp_collapse_body" id="accordion">
			<div class="panel panel-default">
				<div class="panel-heading" data-toggle="collapse" data-target="#ys_amp_create_content1">
					<div class="panel-title">
						<ul class="list-unstyled list-inline ys-table-row">  		
	   						<li>KFC</li>
	   						<li>SY201610010</li>
	   						<li>2015-12-01</li>
	   						<li>2018-12-01</li>
	   						<li>3</li>
	   						<li>6</li>
	   						<li>1,027,50</li>
	   						<li>固定</li>   				
   						</ul>		
					</div>
				</div>
				<div class="panel-collapse collapse " id="ys_amp_create_content1">
					<div class="panel-body">
						<table class="table">
							<colgroup>
							  <col width="16.66%">
							  <col width="16.66%">
							  <col width="16.66%">
							  <col width="16.66%">
							  <col width="16.66%">
							  <col width="16.66%">
							</colgroup>
								<tr class="ys_table_head">
									<td>品牌</td>
									<td>合同编号</td>
									<td>合同起始</td>
									<td>合同结束</td>
									<td>期限</td>
									<td>免租期</td>
								</tr>
								<tr>
									<td><input type="text" placeholder="KFC" class="ys_inputtext"/></td>
									<td><input type="text" placeholder="SY201610010" class="ys_inputtext"/></td>
									<td class="open-date" >
									  <div class="input-group date form_date ys-datetimepicker pull-left" data-date-format="yyyy-mm-dd" >
			                            <input class="form-control" size="12" type="text" value="2016-05-12" readonly=""  style="border-right: 0;">
			                            <span class="input-group-addon"><em></em></span>
                       				 </div>
									</td>
									<td class="open-date" >
									  <div class="input-group date form_date ys-datetimepicker pull-left" data-date-format="yyyy-mm-dd" >
			                            <input class="form-control" size="12" type="text" value="2016-05-12" readonly=""  style="border-right: 0;">
			                            <span class="input-group-addon"><em></em></span>
                       				 </div>
									</td>
									<td><input  class="ys_inputtext ys_num" type="text" placeholder="3"/></td>
									<td><input   class="ys_inputtext ys_num" type="text" placeholder="6"/></td>									
								</tr>
								<tr class="ys_table_head">
									<td>面积</td>
									<td>租金方式</td>
									<td>租金总额</td>
									<td>提成百分比</td>
									<td>付款方式</td>
									<td>物管费总额</td>
								</tr>
								<tr>
									<td><input type="text" placeholder="1,207,50" class="ys_inputtext ys_num "/></td>
									<td>
									  <div class="dropdown">
										<button  data-toggle="dropdown">
										固定
										<span class="glyphicon glyphicon-chevron-down pull-right"></span>
										</button>
											<ul  class="dropdown-menu">
												<li>1</li>
												<li>2</li>
												<li>3</li>
											</ul>
										</div>
									</td>
									<td><input type="text" placeholder="120,000" class="ys_inputtext ys_num"/></td>
									<td><input type="text" placeholder="10%" class="ys_inputtext"/></td>
									<td>
									  <div class="dropdown">
										<button  data-toggle="dropdown">
										月付
										<span class="glyphicon glyphicon-chevron-down pull-right"></span>
										</button>
											<ul  class="dropdown-menu">
												<li>1</li>
												<li>2</li>
												<li>3</li>
											</ul>
										</div>
									</td>
									<td><input   class="ys_inputtext  ys_num" type="text" placeholder="50,000"/></td>									
								</tr>
								<tr class="ys_table_head">
									<td>铺位号</td>
									<td>业态</td>
									<td>楼层</td>
								</tr>
								<tr>
									<td><input type="text" placeholder="B1-101" class="ys_inputtext"/></td>
									<td>
									  <div class="dropdown">
										<button  data-toggle="dropdown">
										餐饮 
										<span class="glyphicon glyphicon-chevron-down pull-right"></span>
										</button>
											<ul  class="dropdown-menu">
												<li>1</li>
												<li>2</li>
												<li>3</li>
											</ul>
										</div>

									</td>
									<td>
									  <div class="dropdown">
										<button  data-toggle="dropdown">
										B1 
										<span class="glyphicon glyphicon-chevron-down pull-right"></span>
										</button>
											<ul  class="dropdown-menu">
												<li>1</li>
												<li>2</li>
												<li>3</li>
											</ul>
										</div>

									</td>
								</tr>
								<tr>
									<td>
										<button class="ys_amp_btn_n" data-toggle="collapse" data-target="#ys_amp_create_content1">取消</button>
									</td>
									<td>
										<button class="ys_amp_btn_y">确定</button>
									</td>
								</tr>
						</table>	
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" data-toggle="collapse" data-target="#ys_amp_create_content2">
					<div class="panel-title">
						<ul class="list-unstyled list-inline ys-table-row">  		
	   						<li>KFC</li>
	   						<li>SY201610010</li>
	   						<li>2015-12-01</li>
	   						<li>2018-12-01</li>
	   						<li>3</li>
	   						<li>6</li>
	   						<li>1,027,50</li>
	   						<li>固定</li>   				
   						</ul>		
					</div>
				</div>
				<div class="panel-collapse collapse " id="ys_amp_create_content2">
					<div class="panel-body">
						<table class="table">
							<colgroup>
							  <col width="16.66%">
							  <col width="16.66%">
							  <col width="16.66%">
							  <col width="16.66%">
							  <col width="16.66%">
							  <col width="16.66%">
							</colgroup>
								<tr class="ys_table_head">
									<td>品牌</td>
									<td>合同编号</td>
									<td>合同起始</td>
									<td>合同结束</td>
									<td>期限</td>
									<td>免租期</td>
								</tr>
								<tr>
									<td><input type="text" placeholder="KFC" class="ys_inputtext"/></td>
									<td><input type="text" placeholder="SY201610010" class="ys_inputtext"/></td>
									<td class="open-date" >
									  <div class="input-group date form_date ys-datetimepicker pull-left" data-date-format="yyyy-mm-dd" >
			                            <input class="form-control" size="12" type="text" value="2016-05-12" readonly=""  style="border-right: 0;">
			                            <span class="input-group-addon"><em></em></span>
                       				 </div>
									</td>
									<td class="open-date" >
									  <div class="input-group date form_date ys-datetimepicker pull-left" data-date-format="yyyy-mm-dd" >
			                            <input class="form-control" size="12" type="text" value="2016-05-12" readonly=""  style="border-right: 0;">
			                            <span class="input-group-addon"><em></em></span>
                       				 </div>
									</td>
									<td><input  class="ys_inputtext ys_num" type="text" placeholder="3"/></td>
									<td><input   class="ys_inputtext ys_num" type="text" placeholder="6"/></td>									
								</tr>
								<tr class="ys_table_head">
									<td>面积</td>
									<td>租金方式</td>
									<td>租金总额</td>
									<td>提成百分比</td>
									<td>付款方式</td>
									<td>物管费总额</td>
								</tr>
								<tr>
									<td><input type="text" placeholder="1,207,50" class="ys_inputtext ys_num "/></td>
									<td>
									  <div class="dropdown">
										<button  data-toggle="dropdown">
										固定
										<span class="glyphicon glyphicon-chevron-down pull-right"></span>
										</button>
											<ul  class="dropdown-menu">
												<li>1</li>
												<li>2</li>
												<li>3</li>
											</ul>
										</div>
									</td>
									<td><input type="text" placeholder="120,000" class="ys_inputtext ys_num"/></td>
									<td><input type="text" placeholder="10%" class="ys_inputtext"/></td>
									<td>
									  <div class="dropdown">
										<button  data-toggle="dropdown">
										月付
										<span class="glyphicon glyphicon-chevron-down pull-right"></span>
										</button>
											<ul  class="dropdown-menu">
												<li>1</li>
												<li>2</li>
												<li>3</li>
											</ul>
										</div>
									</td>
									<td><input   class="ys_inputtext  ys_num" type="text" placeholder="50,000"/></td>									
								</tr>
								<tr class="ys_table_head">
									<td>铺位号</td>
									<td>业态</td>
									<td>楼层</td>
								</tr>
								<tr>
									<td><input type="text" placeholder="B1-101" class="ys_inputtext"/></td>
									<td>
									  <div class="dropdown">
										<button  data-toggle="dropdown">
										餐饮 
										<span class="glyphicon glyphicon-chevron-down pull-right"></span>
										</button>
											<ul  class="dropdown-menu">
												<li>1</li>
												<li>2</li>
												<li>3</li>
											</ul>
										</div>

									</td>
									<td>
									  <div class="dropdown">
										<button  data-toggle="dropdown">
										B1 
										<span class="glyphicon glyphicon-chevron-down pull-right"></span>
										</button>
											<ul  class="dropdown-menu">
												<li>1</li>
												<li>2</li>
												<li>3</li>
											</ul>
										</div>

									</td>
								</tr>
								<tr>
									<td>
										<button class="ys_amp_btn_n" data-toggle="collapse" data-target="#ys_amp_create_content1">取消</button>
									</td>
									<td>
										<button class="ys_amp_btn_y">确定</button>
									</td>
								</tr>
						</table>	
					</div>
				</div>
			</div>
		</div>
   
</main><!--end main-->

<!-- Script 导入部分 -->
<script src="../static/dist/js/jquery-1.11.3.min.js"></script>
<script src="../static/dist/js/bootstrap.min.js"></script>
<!--<script src="static/dist/js/echarts-all.js"></script>-->
<script src="../static/dist/js/plugins.js"></script>
<script src="../static/dist/js/bootstrap-datetimepicker.min.js"></script>
<script src="../static/dist/js/bootstrap-datetimepicker.zh-CN.js"></script>
<script>

    $(document).ready(function(){
        $('#preloader').delay(350).fadeOut(function(){
            //start
        });

        $(".open-date").datetimepicker({
            format: "yyyy-mm-dd",
            autoclose: true,
            todayBtn: true,
            pickerPosition: "bottom-left",
            startView:2,
            minView:2,
            maxView:4,
            language:"zh-CN"
        });
    });
 var   ys_amp_create_content1=document.getElementById("ys_amp_create_content1");
   var  ys_num=ys_amp_create_content1.getElementsByClassName(' ys_num');
   var ys_amp_btn_y=document.getElementsByClassName("ys_amp_btn_y")[0];

	ys_amp_btn_y.onclick=function(){
		
		for(var i=0;i<ys_num.length;i++){
			var patrn=/^[1-9]\d{0,}$/;
			for(var j=0;j<ys_num.length;j++){
				if (!patrn.exec(ys_num[j].value)){
				ys_num[j].style.border="2px solid red";
		}else{
			
			ys_num[j].style.border="0";
		}
			}
			
	}
}
$(".panel-collapse").on("show.bs.collapse",function(){
	var prev=$(this).prev();
	prev.addClass("ys-table-row-selected ");
	
})
$(".panel-collapse").on("hidden.bs.collapse",function(){
	var prev=$(this).prev();
	prev.removeClass("ys-table-row-selected ");
	
})
</script>
</body>
</html>
