 body{padding-top: 0;background: #fff;}
  #ys_amp_create_financial_analysis{width: 1080px;}
 #ys_amp_create_financial_analysis .ys_amp_fin_title:before,.ys_amp_fin_title:after{display: block;border-bottom:solid 3px #5ab46e;height:2px; position: absolute;top:40px;left:20px;content:"";}
#ys_amp_create_financial_analysis .ys_amp_fin_title:before{width:50px;border-bottom:solid 3px #5ab46e;z-index:99;}
#ys_amp_create_financial_analysis .ys_amp_fin_title{font-size: 14px;overflow: hidden;padding: 0 20px;background-color:#f2f5f7;}
#ys_amp_create_financial_analysis .ys_amp_fin_title .ys_amp_title{line-height: 44px;}
#ys_amp_create_financial_analysis .ys_amp_fin_title .pull-right{margin-top: 3px;}
#ys_amp_create_financial_analysis .ys_amp_fin_title .ys_amp_title span{display: inline-block; width: 50px;text-align: center;}
#ys_amp_create_financial_analysis .ys_amp_fin_title .amp_title{margin-right: 45px;}
#ys_amp_create_financial_analysis .ys_amp_create_body {background-color: #f2f5f7;}
#ys_amp_create_financial_analysis .ys_amp_fin_title .small{color:#8592a3;font-size: 12px;}
#ys_amp_create_financial_analysis .ys_amp_fin_title .pull-right .pull-left{padding:0 30px;}
#ys_amp_create_financial_analysis .ys_amp_create_body .ys_amp_collapse_head{height: 30px;}
#ys_amp_create_financial_analysis  .ys_amp_create_head{padding: 20px;}
#ys_amp_create_financial_analysis  .ys_amp_create_head .small{color:  #8592a3; font-size: 12px;}
#ys_amp_create_financial_analysis  .ys_amp_create_head>div{font-size: 20px;}
#ys_amp_create_financial_analysis .ys_amp_create_body .ys_amp_collapse_head ul li{width: 12%; line-height:30px;font-size: 12px;color: #8592a3;}
#ys_amp_create_financial_analysis .ys_amp_create_body .table .ys_table_head td{color: #8592a3; font-size: 12px;padding-bottom: 0; height: 25px;}
#ys_amp_create_financial_analysis .ys_amp_create_body .panel-heading{height: 40px;    padding: 0 15px;}
#ys_amp_create_financial_analysis .ys_amp_create_body .ys-table-row-selected{background-color: #4B5368;color: #FFFFFF;}
#ys_amp_create_financial_analysis .ys_amp_create_body .panel-collapse {background-color: #4b5368}
#ys_amp_create_financial_analysis .ys_amp_create_body .panel-collapse .table td{border: 0;}
/*
#ys_amp_create_financial_analysis .panel-heading.collapsed{background-color: #fff;}*/
/*#ys_amp_create_financial_analysis .panel-heading{ background-color: #4b5368}*/
#ys_amp_create_financial_analysis .ys_amp_create_body .ys_amp_collapse_body .panel-title ul li{width: 12%; font-size: 14px; line-height: 40px;font-weight: 700;}
#ys_amp_create_financial_analysis .ys_amp_create_body input.ys_inputtext{width: 150px; height: 32px; font-size: 13px;background-color: #394952;border: 0;    padding-left: 5px;}
#ys_amp_create_financial_analysis .ys_amp_create_body .input-group{width: 150px;}
#ys_amp_create_financial_analysis .ys_amp_create_body .input-group input,#ys_amp_create_financial_analysis .ys_amp_create_body .input-group span{font-size: 13px; background-color: #394952; border: 0;height: 32px;border-radius: 0;color: #8592a3;}
#ys_amp_create_financial_analysis .ys_amp_create_body   .ys_amp_btn_n{width: 150px; height: 32px; border: solid 2px #5ab46e; color: #5ab46e;  background-color: #4b5368}
#ys_amp_create_financial_analysis .ys_amp_create_body  .ys_amp_btn_y{width: 150px; height: 32px;  color: #fff;background-color:#5ab46e;border: 0; }
#ys_amp_create_financial_analysis .ys_amp_create_body .dropdown button{width: 150px; height: 32px;    background-color: #4b5368; font-size: 13px;color: #8592a3;background-color: #394952;border: 0;    text-align: left;}
#ys_amp_create_financial_analysis .panel-group .panel {margin-top: 0; border-radius: 0;border: 0;}
#ys_amp_create_financial_analysis .panel-default>.panel-heading+.panel-collapse>.panel-body {border: 0;}
