<div class="right-content-wrapper" id="rent-package-rpanel">
    <div class="right-panel-header">
        <a href="javascript:void(0)" class="closebtn" ng-click="rCtrl.reset()">&times;</a>
        <h3>录入</h3>
    </div>

    <div class="right-content">
        <form name="shopInfoForm">
        <table class="table table-no-bordered amp-table table-input-typeA">
            <tbody>
                <tr>
                    <td>
                        <label>铺位号</label>
                        <div class="input-wrapper">
                            <input type="text" value="" ng-model="rCtrl.shopInfo.shopIndex" required/>
                        </div>
                    </td>
                    <td>
                        <label>楼层</label>
                        <div class="input-wrapper">
                            <input type="text" value="" ng-model="rCtrl.shopInfo.floor"/>
                        </div>
                    </td>
                    <td>
                        <label>位置</label>
                        <div class="input-wrapper input-wrapper-select">

                            <input type="text" value="" hidden ng-model="rCtrl.shopInfo.position"/>
                            <div class="dropdown">
                                <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                                    <em>{{rCtrl.shopInfo.position | default:"请选择"}}</em><span class="ys-icon ys-icon-dropdown"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                                    <li ng-class="{'active':rCtrl.isActive(menu,rCtrl.shopInfo.position)}" role="presentation" ng-repeat="menu in rCtrl.form_menu.positions"><a role="menuitem" ng-click="rCtrl.setModel('position',menu)">{{menu}}</a></li>
                                </ul>
                            </div>
                        </div>
                    </td>
                    <td>
                        <label>物业类型</label>
                        <div class="input-wrapper input-wrapper-select">

                            <input type="text" value="" hidden/>
                            <div class="dropdown">
                                <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                                    <em>{{rCtrl.shopInfo.type | default:"请选择"}}</em><span class="ys-icon ys-icon-dropdown"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                                    <li ng-class="{'active':rCtrl.isActive(menu,rCtrl.shopInfo.type)}" role="presentation" ng-repeat="menu in rCtrl.form_menu.type"><a role="menuitem" ng-click="rCtrl.setModel('type',menu)">{{menu}}</a></li>
                                </ul>
                            </div>
                        </div>
                    </td>


                </tr><!--tr-->

                <tr>
                    <td>
                        <label>建筑面积</label>
                        <div class="input-wrapper">
                            <input type="number" value="" ng-model="rCtrl.shopInfo.floorArea"/>
                        </div>
                    </td>

                    <td>
                        <label>套内面积</label>
                        <div class="input-wrapper">
                            <input type="number" value="" ng-model="rCtrl.shopInfo.indoorArea"/>
                        </div>
                    </td>

                    <td>
                        <label>产权性质</label>
                        <div class="input-wrapper input-wrapper-select">
                            <input type="text" value="" hidden/>
                            <div class="dropdown">
                                <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                                    <em>{{rCtrl.shopInfo.property | default:"请选择"}}</em><span class="ys-icon ys-icon-dropdown"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                                    <li ng-class="{'active':rCtrl.isActive(menu,rCtrl.shopInfo.property)}" role="presentation" ng-repeat="menu in rCtrl.form_menu.property"><a role="menuitem" ng-click="rCtrl.setModel('property',menu)">{{menu}}</a></li>


                                </ul>
                            </div>
                        </div>
                    </td>

                    <td>
                        <label>业态</label>
                        <div class="input-wrapper input-wrapper-select">
                            <input type="text" value="" hidden/>
                            <div class="dropdown">
                                <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                                    <em>{{rCtrl.shopInfo.form | default:"请选择"}}</em><span class="ys-icon ys-icon-dropdown"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                                    <li ng-class="{'active':rCtrl.isActive(menu,rCtrl.filters.form)}" role="presentation" ng-repeat="menu in rCtrl.form_menu.form"><a role="menuitem" ng-click="rCtrl.setModel('form',menu)">{{menu}}</a></li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr><!--tr-->

            </tbody>
        </table>
        <table class="table table-no-bordered amp-table table-input-typeA table-input-typeYearly">
            <thead>
                <tr>
                    <th colspan="5" class="table-title">租金标准<em>(元/m&sup2/月)</em></th>
                </tr>
                <tr>
                    <th>第一年</th>
                    <th>第二年</th>
                    <th>第三年</th>
                    <th>第四年</th>
                    <th>第五年</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> <div class="input-wrapper"><input type="number" value="" ng-model="rCtrl.shopInfo.rentStandard[0]"/></div> </td>
                    <td> <div class="input-wrapper"><input type="number" value="" ng-model="rCtrl.shopInfo.rentStandard[1]"/></div> </td>
                    <td> <div class="input-wrapper"><input type="number" value="" ng-model="rCtrl.shopInfo.rentStandard[2]"/></div> </td>
                    <td> <div class="input-wrapper"><input type="number" value="" ng-model="rCtrl.shopInfo.rentStandard[3]"/></div> </td>
                    <td> <div class="input-wrapper"><input type="number" value="" ng-model="rCtrl.shopInfo.rentStandard[4]"/></div> </td>
                </tr>
            </tbody>
        </table>
        <table class="table table-no-bordered amp-table table-input-typeA table-input-typeYearly">
            <thead>
            <tr>
                <th colspan="5" class="table-title">物业管理费标准<em>(元/m&sup2/月)</em></th>
            </tr>
            <tr>
                <th>第一年</th>
                <th>第二年</th>
                <th>第三年</th>
                <th>第四年</th>
                <th>第五年</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td> <div class="input-wrapper"><input type="number" value="" ng-model="rCtrl.shopInfo.wyStandard[0]"/></div> </td>
                <td> <div class="input-wrapper"><input type="number" value="" ng-model="rCtrl.shopInfo.wyStandard[1]"/></div> </td>
                <td> <div class="input-wrapper"><input type="number" value="" ng-model="rCtrl.shopInfo.wyStandard[2]"/></div> </td>
                <td> <div class="input-wrapper"><input type="number" value="" ng-model="rCtrl.shopInfo.wyStandard[3]"/></div> </td>
                <td> <div class="input-wrapper"><input type="number" value="" ng-model="rCtrl.shopInfo.wyStandard[4]"/></div> </td>
            </tr>
            </tbody>
        </table>
        <div class="block clearfix">
            <div class="btn-wrapper pull-right">
                <a class="btn btn-default amp-btn ys-tips" id="btn-save" ng-click="rCtrl.save()" data-toggle="tooltip" data-placement="top"  title="将于12月15日开放使用" ng-disabled="shopInfoForm.$invalid">保存</a>
                <a class="btn btn-default amp-btn amp-btn-reverse ys-tips" id="btn-continue" ng-click="rCtrl.next()" ng-show="rCtrl.index=='add' ||rCtrl.index=='new' " data-toggle="tooltip" data-placement="top"  title="将于12月15日开放使用">继续录入</a>
                <span class="amp-tipsnote" style="position: relative;float:right; top:5px;background-color:transparent;margin-right:16px;"><em class="ys-amp-icon ys-icon-tips ys-icon-tips-hover" style="left:5px;margin-top:-11px;"></em>体验版数据为模拟数据，请勿引用。可提供数据整合服务</span>

            </div>
        </div>

        </form>
    </div>

</div>
<!--
<script src="../static/js/views/datatools/rpgindex_rpanel.js"></script>
<script>
    $(document).ready(function(){
        //这里有公共方法，确定业务后 单独放到一个文件

        rpg_rpanel.dropdownSelector();
        rpg_rpanel.init();
    });

</script>-->
