<div class="amp-content-panel" id="datatool-sim">
    <div class="amp-content-header clearfix">
        <!-- Breadcrumb / Summary info-->
        <ul class="header-nav-sub clearfix">
            <li><a href="#" id="tri-0-1-0" class="header-subnav-item active" target="#page-frame">推演模拟</a></li>
        </ul>
    </div><!--amp-content-header-->
    <div class="ys-block">
        <div class="clearfix">
            <div class="col-xs-6"  id="datatool-sim-floor-table">
                <div  style="width:100%;">
                            <div class="ys-mainpanel-inner">
                                <!--svg here-->
                                <svg version="1.1" id="ys-svg" xmlns="http://www.w3.org/2000/svg" width="100%" height="980px" viewBox="0 0 600 1180" preserveAspectRetio="xMidYMin meet">

                                </svg>
                                <!--svg here-->
                            </div>
                    <!--  <div class="swiper-scrollbar"></div>-->
                </div><!--swiper container-->
                <div class="amp-svg-opt">
                    <h5>铺位</h5>
                    <div class="opt-block">
                        <span class="opt-item"><em>1F 001</em><em class="ys-icon ys-icon-cancel">×</em></span>
                        <span class="opt-item"><em>1F 001</em><em class="ys-icon ys-icon-cancel">×</em></span>
                    </div>
                    <div class="btn-wrapper">
                        <button class="btn btn-default amp-btn amp-btn-sm" id="shop-compressed">合并</button>
                        <button class="btn btn-default amp-btn amp-btn-sm amp-btn-grey" id="shop-split">拆分</button>
                    </div>
                </div>
            </div>
            <div class="col-xs-6"  id="datatool-sim-main-table">
                <div class="" style="width:100%;">

                            <div class="table-wrapper">
                                <table class="table table-no-bordered amp-table">
                                    <tbody>
                                    <tr>
                                        <th><span>铺位号</span></th>
                                        <td>
                                            <div class="td-input-wrapper padding-r-15 text-input" >
                                                <input type="text" placeholder="" value="">
                                                <!--<span class="number-format"></span>%-->
                                            </div>
                                        </td>
                                        <td><span>套内面积:56m&sup2</span></td>
                                    </tr>
                                    <tr>
                                        <th><span>业态</span></th>
                                        <td>
                                            <div class="td-input-wrapper padding-r-15 select-input" >
                                                <input type="text" placeholder="" value="" hidden>
                                                <!--<span class="number-format"></span>%-->
                                                <div class="dropdown">
                                                    <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                                                        <em>业态</em><span class="ys-icon ys-icon-dropdown"></span>
                                                    </button>
                                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" >超市</a></li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" >影院</a></li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" >时装</a></li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" >餐饮</a></li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" >娱乐</a></li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" >配套</a></li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" >儿童</a></li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" >其他</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                        <td></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="table-wrapper">
                                <table class="table table-no-bordered amp-table">
                                    <thead>
                                    <th><span></span></th>
                                    <th><span>租金包(元/m&sup2)/月</span></th>
                                    <th><span>物业管理费</span></th>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th><span>2016</span></th>
                                        <td>
                                            <div class="td-input-wrapper padding-r-15 num-input">
                                                <input type="text" placeholder="" value="">
                                                <span class="number-format"></span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="td-input-wrapper padding-r-15 num-input">
                                                <input type="text" placeholder="" value="">
                                                <span class="number-format"></span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th><span>2017</span></th>
                                        <td>
                                            <div class="td-input-wrapper padding-r-15 num-input">
                                                <input type="text" placeholder="" value="">
                                                <span class="number-format"></span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="td-input-wrapper padding-r-15 num-input">
                                                <input type="text" placeholder="" value="">
                                                <span class="number-format"></span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th><span>2018</span></th>
                                        <td>
                                            <div class="td-input-wrapper padding-r-15 num-input" >
                                                <input type="text" placeholder="" value="">
                                                <span class="number-format"></span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="td-input-wrapper padding-r-15 num-input" >
                                                <input type="text" placeholder="" value="">
                                                <span class="number-format"></span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th><span>2019</span></th>
                                        <td>
                                            <div class="td-input-wrapper padding-r-15 num-input" >
                                                <input type="text" placeholder="" value="">
                                                <span class="number-format"></span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="td-input-wrapper padding-r-15 num-input" >
                                                <input type="text" placeholder="" value="">
                                                <span class="number-format"></span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th><span>2020</span></th>
                                        <td>
                                            <div class="td-input-wrapper padding-r-15 num-input" >
                                                <input type="text" placeholder="" value="">
                                                <span class="number-format"></span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="td-input-wrapper padding-r-15 num-input" >
                                                <input type="text" placeholder="" value="">
                                                <span class="number-format"></span>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="table-wrapper">
                                <table class="table table-no-bordered amp-table">
                                    <colgroup>
                                        <col width="130px" />
                                        <col />
                                        <col width="130px" />
                                        <col />
                                    </colgroup>
                                    <tbody>
                                    <tr>
                                        <th><span>商家</span></th>
                                        <td colspan="2">
                                            <div class="td-input-wrapper padding-r-15 text-input" style="">
                                                <input type="text" placeholder="" value="">
                                                <!--<span class="number-format"></span>%-->
                                            </div>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr class="tr-date-range">
                                        <th><span>合同开始</span></th>
                                        <td>
                                            <div class="td-input-wrapper padding-r-15 date-input" >
                                                <input type="text" placeholder="" value="" id="date-start" readonly>
                                                <!--<span class="number-format"></span>%-->
                                            </div>
                                        </td>
                                        <th><span>结束时间</span></th>
                                        <td>
                                            <div class="td-input-wrapper padding-r-15 date-input" >
                                                <input type="text" placeholder="" value="" id="date-end" readonly>
                                                <!--<span class="number-format"></span>%-->
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th><span>平均租金(元/m&sup2/月)</span></th>
                                        <td>
                                            <div class="td-input-wrapper padding-r-15 num-input" >
                                                <input type="text" placeholder="" value="">
                                                <span class="number-format"></span>
                                            </div>
                                        </td>
                                        <th><span>免租期(月)</span></th>
                                        <td>
                                            <div class="td-input-wrapper padding-r-15 text-input" >
                                                <input type="text" placeholder="" value="" readonly>
                                                <!--<span class="number-format"></span>%-->
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th><span>租金总计(元)</span></th>
                                        <td>
                                            <div class="td-input-wrapper padding-r-15 num-input" >
                                                <input type="text" placeholder="" value="">
                                                <span class="number-format"></span>
                                            </div>
                                        </td>
                                        <th><span>物管费总计(元)</span></th>
                                        <td>
                                            <div class="td-input-wrapper padding-r-15 num-input" >
                                                <input type="text" placeholder="" value="">
                                                <span class="number-format"></span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th><span>租金起记日期</span></th>
                                        <td>
                                            <div class="td-input-wrapper padding-r-15 date-input" >
                                                <input type="text" placeholder="" value="" id="date-rent" readonly>
                                                <!--<span class="number-format"></span>%-->
                                            </div>
                                        </td>
                                        <th><span>月销售额</span></th>
                                        <td>
                                            <div class="td-input-wrapper padding-r-15 num-input" >
                                                <input type="text" placeholder="" value="">
                                                <span class="number-format"></span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th><span>工程改造预算</span></th>
                                        <td>
                                            <div class="td-input-wrapper padding-r-15 num-input" >
                                                <input type="text" placeholder="" value="">
                                                <span class="number-format"></span>
                                            </div>
                                        </td>
                                        <th><span>租金方式</span></th>
                                        <td>
                                            <div class="td-input-wrapper padding-r-15 select-input" >
                                                <input type="text" placeholder="" value="" hidden>
                                                <!--<span class="number-format"></span>%-->
                                                <div class="dropdown">
                                                    <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                                                        <em>租金方式</em><span class="ys-icon ys-icon-dropdown"></span>
                                                    </button>
                                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" >自持</a></li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" >销售</a></li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" >销售返租</a></li>

                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <th><span>付款时间</span></th>
                                        <td>
                                            <div class="td-input-wrapper padding-r-15 select-input" >
                                                <input type="text" placeholder="" value="" hidden>
                                                <!--<span class="number-format"></span>%-->
                                                <div class="dropdown">
                                                    <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                                                        <em>付款时间</em><span class="ys-icon ys-icon-dropdown"></span>
                                                    </button>
                                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">月付</a></li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">季付</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                        <td></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="chart-wrapper" id="chart-rpg-wrapper" style="padding-left:30px;padding-right:0;">
                                <!--<em class="chart-axis-info chart-axis-y-info">万元</em>-->
                                <div id="chart-rpg" style="height:310px;"></div>
                                <div class="chart-legend">
                                    <span><em class="color-label" style="background-color:#18b0e2;"></em><i class="name">应收</i></span>
                                    <span><em class="color-label" style="background-color:#ea7444;"></em><i class="name">实收</i></span>
                                    <span><em class="color-label" style="background-color:#1abd9d;"></em><i class="name">租金包</i></span>
                                </div>
                            </div>
                            <div class="block bottom-block bottom-block-fixed clearfix">
                                <div class="btn-wrapper pull-right">
                                    <a href="javascript:void(0)" class="btn btn-default amp-btn" id="btn-go">查看回报</a>
                                    <a href="javascript:void(0)" class="btn btn-default amp-btn amp-btn-reverse" id="btn-dismiss">解约</a>
                                </div>
                            </div>
                    <!--<div class="swiper-scrollbar"></div>-->
                </div><!--swiper container-->
            </div>
        </div>
    </div><!--ys-block-->
    <!--<div class="block bottom-block bottom-block-fixed clearfix">
        <div class="btn-wrapper pull-right">
            <a href="javascript:void(0)" class="btn btn-default amp-btn" id="btn-go">查看回报</a>
            <a href="javascript:void(0)" class="btn btn-default amp-btn amp-btn-reverse" id="btn-dismiss">解约</a>
        </div>
    </div>-->
</div><!-- contentpanel -->
<script src="../static/js/views/datatools/datasim.js"></script>
<script src="../static/js/views/datatools/inputs.js"></script>
<script src="../static/js/views/datatools/irr_table_input.js"></script>
<script>
    jQuery(document).ready(function(){
        console.log(".....")
        datasim.init();
        amp_main.leftPanel_update();
        table_input.init();

    });
</script>

