<div class="toolbar-block">
    <div class="toolbar-item item-month-filter" style="padding:0;">
        <label for="month-filter">月选择</label>
        <div class="input-group date ys-datepicker" id="monthpicker">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" id="ys-date-pre"><em class="glyphicon glyphicon-arrow-left"></em></button>
            </span>
            <input size="16" type="text" value="" data-provide="datepicker" id="month-filter" name="month-filter" ng-model="month-filter" readonly>
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" id="ys-date-next"><em class="glyphicon glyphicon-arrow-right"></em></button>
            </span>
            <!--   <span class="add-on"><i class="icon-th"></i></span>-->
        </div>
    </div><!--div toolbar-item-->

    <div class="toolbar-item item-datetime-filter" style="padding:0;">
        <label for="date-filter">日期</label>
        <div class="input-group date ys-datepicker" id="datepicker">
            <input size="16" type="text" value="" data-provide="datepicker" id="date-filter" name="date-filter" ng-model="date-filter" readonly>
            <!--   <span class="add-on"><i class="icon-th"></i></span>-->
        </div>
    </div><!--div toolbar-item-->

    <div class="toolbar-item item-daterange-filter" style="padding:0;">
        <label for="date-range-filter-start">日期</label>
        <div class="input-group date ys-datepicker" id="daterange">
            <input size="16" type="text" placeholder="开始" value="" data-provide="datepicker" id="date-range-filter-start" name="date-range-filter-start" ng-model="date-range-filter-start" readonly>
            <span class="input-group-addon input-sm">~</span>
            <input size="16" type="text" placeholder="结束" value="" data-provide="datepicker" id="date-range-filter-end" name="date-range-filter-end" ng-model="date-range-filter-end" readonly>

        </div>
    </div><!--div toolbar-item-->

    <div class="toolbar-item item-input-filter" style="padding:0;">
        <label for="input-shop-id">铺位号</label>
        <div class="input-group">
            <input type="text" placeholder="请输入" id="input-shop-id" name="input-shop-id">
        </div>
    </div><!--div toolbar-item-->

    <div class="toolbar-item item-input-filter" style="padding:0;">
        <label for="input-id">输入</label>
        <div class="input-group">
            <input type="text" placeholder="" id="input-id" name="input-id">
        </div>
    </div><!--div toolbar-item-->

    <div class="toolbar-item item-select-filter" style="padding:0;">
        <label for="search-id">选择</label>
        <input type="text" placeholder="" id="select-id" name="select-id" hidden value="">
        <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown">
                <em>请选择</em><span class="ys-icon ys-icon-dropdown"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">商业公司A</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">商业公司B</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">商业公司C</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">商业公司D</a></li>
            </ul>
        </div>
    </div><!--div toolbar-item-->

    <div class="toolbar-item item-search-filter" style="padding:0;">
        <label for="search-id">搜索</label>
        <div class="input-group">
            <input type="text" placeholder="" id="search-id" name="search-id">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button"><em class="ys-icon ys-icon-search"></em></button>
            </span>
        </div>
    </div><!--div toolbar-item-->

    <div class="toolbar-item item-btn-wrapper" style="padding:0;">
        <a href="javascript:void(0)" class="btn btn-default amp-btn" id="toolbar-submit">查询</a>
    </div><!--div toolbar-item-->

    <div class="toolbar-item item-btn-wrapper" style="padding:0;">
        <a href="javascript:void(0)" class="btn btn-default amp-btn" id="toolbar-create">录入</a>
    </div><!--div toolbar-item-->

    <div class="toolbar-item item-btn-wrapper " style="padding:0;">
        <a href="javascript:void(0)" class="btn btn-default amp-btn amp-btn-reverse" id="toolbar-reset">重置</a>
    </div><!--div toolbar-item-->
    <div class="toolbar-item item-btn-wrapper toolbar-item-btns" style="padding:0;">
        <a href="javascript:void(0)" class="btn btn-default amp-btn amp-btn-reverse" id="toolbar-reset">重置</a>
        <a href="javascript:void(0)" class="btn btn-default amp-btn amp-btn-reverse" id="toolbar-search">查询</a>
    </div><!--div toolbar-item-->

    <div class="toolbar-item item-btn-wrapper " style="padding:0;">
        <a href="javascript:void(0)" class="btn btn-default amp-btn amp-btn-reverse" id="toolbar-reset">重置</a>
    </div><!--div toolbar-item-->
    <div class="toolbar-item item-btn-wrapper toolbar-item-btns clearfix" style="padding:0;">
        <a href="javascript:void(0)" class="btn btn-default amp-btn amp-btn-reverse" id="toolbar-reset">重置</a>
        <a href="javascript:void(0)" class="btn btn-default amp-btn amp-btn-reverse" id="toolbar-search">查询</a>
    </div><!--div toolbar-item-->
</div>
<script src="../components/toolbar/noi_filter.js"></script>