<!--<div class="toolbar-block" month-picker="" month-select="tCtrl.selectedMonth({date:date})" cur-month="tCtrl.curMonth">-->
<div class="toolbar-block" month-picker="" month-select="tCtrl.selectedMonth({date:date})" ng-model="tCtrl.curMonth">
   <!-- <div class="toolbar-item item-month-filter" style="padding:0;">
        <label for="month-filter">时间</label>
        <div class="input-group date ys-datepicker" id="monthpicker">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button" id="ys-date-pre"><em class="glyphicon glyphicon-arrow-left"></em></button>
        </span>
            <input size="16" type="text" value="" data-provide="datepicker" id="month-filter" name="month-filter">
            <span class="input-group-btn">
            <button class="btn btn-default" type="button" id="ys-date-next"><em class="glyphicon glyphicon-arrow-right"></em></button>
        </span>
            &lt;!&ndash;   <span class="add-on"><i class="icon-th"></i></span>&ndash;&gt;
        </div>
    </div>-->
</div>
<!--
<script src="../components/toolbar/noi_filter.js"></script>
