#arrears-merchant-detail-receiving{
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color:rgba(0,0,0,0.4);
    z-index: 999;
    padding-left:400px;
}

#arrears-merchant-detail-receiving .contract-enrolment{
    height:100%;
    background-color:#fff;
}

/* ======================================== enrolment-title ======================================== */
#arrears-merchant-detail-receiving .enrolment-title{
    position:relative;
    height:44px;
    line-height: 44px;
    text-align: center;
    background-color:#dae2e7;
}
#arrears-merchant-detail-receiving .enrolment-title a.close-panel-btn{
    content:"";
    position:absolute;
    left:0;
    top:0;
    bottom:0;
    width:44px;
    height:44px;
    background:url(../../images/common/right-panel-title-close-icon.png) no-repeat center center;
    margin:auto;
    cursor: pointer;
}
/* ======================================== aamp-content-header======================================== */
#arrears-merchant-detail-receiving .amp-content-header {padding: 0 24px;   height: 44px;background-color: #f2f5f7;}
#arrears-merchant-detail-receiving .amp-content-header strong{line-height: 44px;}
/* ======================================== amp-content-panel ======================================== */
#arrears-merchant-detail-receiving .amp-content-panel{padding: 20px ;}
#arrears-merchant-detail-receiving  .amp-content-panel .btn-wrapper{padding-top:20px}

#arrears-merchant-detail-receiving table th:nth-child(2),
#arrears-merchant-detail-receiving table td:nth-child(2){text-align: right}

#arrears-merchant-detail-receiving table tr:last-child td{
    font-weight: bold;
    font-style: italic;
    color:#55bbe6;
}
#arrears-merchant-detail-receiving table tr:last-child td:first-child{color:#373c42;}
