#contract-main{background-color:#fff;}
#contract-main .amp-content-header{margin:0;}
#contract-main .amp-content-panel{padding:20px 0 20px 0;}

/* ======================================== ys-table-block ======================================== */

#contract-main .ys-table-block .amp-table-cell:nth-child(5),
#contract-main .ys-table-block .amp-table-cell:nth-child(6),
#contract-main .ys-table-block .amp-table-cell:nth-child(7){text-align: right;}

#contract-main .ys-table-block .amp-table-cell:nth-child(1){width: 15%;}
#contract-main .ys-table-block .amp-table-cell:nth-child(2){width: 15%;}
#contract-main .ys-table-block .amp-table-cell:nth-child(3){width: 15%;}
#contract-main .ys-table-block .amp-table-cell:nth-child(4){width: 15%;}
#contract-main .ys-table-block .amp-table-cell:nth-child(5){width: 10%;}
#contract-main .ys-table-block .amp-table-cell:nth-child(6){width: 10%;}
#contract-main .ys-table-block .amp-table-cell:nth-child(7){width: 10%;}
#contract-main .ys-table-block .amp-table-cell:nth-child(8){width: 10%;}

#contract-main .ys-table-block .amp-table-row-collapse{padding-bottom:24px;}
#contract-main .ys-table-block .amp-table-row-collapse table{width:100%;}
#contract-main .ys-table-block .amp-table-row-collapse table td{padding:10px 12px 0 12px;}
#contract-main .ys-table-block .amp-table-row-collapse table td>span{
    display:block;
    height:28px;
    line-height: 28px;
    font-size:12px;
    color:#8592a2;
}
#contract-main .ys-table-block .amp-table-row-collapse table td .amp-input-black{display:block;width:100%;}
#contract-main .ys-table-block .amp-table-row-collapse table td .amp-btn{display:block;width:100%;}
#contract-main .ys-table-block .amp-table-row-collapse table tr:last-child td{padding-top:24px;}

#contract-main .ys-table-block .amp-pagination-toolbar-wrapper{
    padding:20px 12px;
}
#contract-main .amp-thead{left:0;right:0;z-index: 990;}